<%- include('partials/header') %>
    <div class="col-md-12 mt-5 mb-5 nav-fill nav-cultural">
        <ul class="nav nav-tabs  ">
            
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"><%= categorie[0].categorie %></a>
            </li>
            <li class="nav-item small-nav">
                <a class="nav-link" href="/activites-sportives"><%= categorie[1].categorie %></a>
            </li>
            <li class="nav-item small-nav">
                <a class="nav-link" href="/activites-culinaires"><%= categorie[2].categorie %></a>
            </li>
            
        </ul>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-md-12 d-flex justify-content-center mt-5 mb-5">
                <h2>Les articles</h2>
            </div>

        </div>

        <div class="row">

            <% listeArticle.forEach(function(unArticle) {%>
            <div class="col-md-4">

                <div class="card" style="width: 18rem;">
                    <img src="<%=unArticle.image%>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%=unArticle.titre%></h5>
                        <p class="card-text"><%=unArticle.description%>.</p>
                        <a href="#" class="btn btn-link">Voir l'article complet</a>
                    </div>
                </div>

            </div>
            <%});%>

        </div>

    </div>



    <%- include('partials/footer') %>